.bonus {

  background-color: @color-main;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.bonus__title {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;

  color: @white;
}
