.button {
  display: flex;
  font-size: 16px;
  height: 40px;
  box-sizing: border-box;
  text-transform: uppercase;
  padding-left: 30px;
  padding-right: 30px;

  color: @white;
  background-color: @btn-main-bg;

  justify-content: center;
  align-items: center;
  text-decoration: none;






  &--big {

    @media @tablet {
      height: 52px;
      font-size: 20px;
    }
  }







  &--to-all {
    color: @gray--light;
    background-color: @gray--lightest;
  }








}
