.button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 40px;
  padding-right: 20px;
  padding-left: 20px;

  font-size: 16px;
  font-family: @font-main;
  color: @white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: @apple;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: @apple--dark;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    //outline: none;
  }

  &--big {
    font-size: 16px;

    @media @tablet {
      height: 52px;

      font-size: 20px;
    }
  }

  &--to-all {
    color: @tundora;

    background-color: @concrete;

    &:hover,
    &:focus {
      background-color: @gallery;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
    }
  }
}
