.catalog {
  display: flex;
  flex-direction: column;
}

.catalog--main {
  .container-responsive;

  @media @mobile-only {
    width: auto;
    margin: 0 0 30px;
    padding: 0;
  }

  @media @tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.catalog--secondary {
  border-color: @gray--lighten;

  @media @mobile-only {
    width: auto;
    margin: 0 20px;
    padding: 0;
  }
}

.catalog__main-title {
  box-sizing: border-box;
  width: 100%;

  font-weight: normal;
  font-size: 36px;
  line-height: 1;
  color: @gray--dark;

  background-color: @white;

  @media @mobile-only {
    margin-bottom: 35px;
    padding-right: 20px;
    padding-left: 20px;
  }

  @media @tablet {
    font-size: 60px;
  }
}

.catalog__secondary-title {
  position: relative;

  font-weight: normal;
  font-size: 24px;
  color: @gray--dark;

  span {
    position: relative;

    display: inline-block;
    order: 10;
    margin-left: -20px;
    padding-right: 20px;
    padding-left: 20px;

    vertical-align: center;

    background-color: @white;

    @media @tablet {
      margin-left: -40px;
      padding-right: 40px;
      padding-left: 40px;
    }
  }

  @media @tablet {
    font-size: 36px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;

    width: 100%;
    height: 3px;

    background-color: @color-main;

    @media @tablet {
      top: 30px;
    }
  }
}

.catalog__item-main {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 25px;
  padding: 0 20px;

  @media @mobile-only {
    border-top: 1px solid #ededed;
  }

  @media @tablet {
    width: 45%;
    margin-top: 140px;
    padding: 165px 37px 40px 38px;

    background-color: @gray--lightest;
  }

  @media @desktop {
    width: 245px;
    margin-right: 80px;

    &:nth-of-type(2n) {
      margin-right: 80px;
    }

    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }

  &:hover,
  &:focus {
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, .5);
  }
}

.catalog__item-main--to-all {
  padding: 80px 20px 25px;

  background-color: @white;

  @media @mobile-only {
    border-bottom: 1px solid #ededed;
  }

  @media @tablet {
    border: 1px solid #ededed;
  }

  &::before {
    content: "";
    position: absolute;
    top: 27px;
    left: 50%;

    width: 31px;
    height: 31px;

    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    transform: translateX(-16px);
  }
}

.catalog__item-secondary {
  @media @mobile-only {
    margin: 0 0 17px;
    padding: 0;

    border-bottom: 1px solid @gray--lighten;
  }

  @media @tablet {
    padding: 28px 38px;

    background-color: @white;
    border: 1px solid #ededed;
    border-top: none;

    &:first-of-type {
      border-top: 1px solid #ededed;
    }
  }

  @media @desktop {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
  }
}

.catalog__wrapper {
  display: flex;
  flex-direction: row;
}

.catalog__description {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 23px 0 0;

  &--secondary {
    margin-bottom: 13px;
    padding-top: 13px;

    @media @tablet {
      flex-direction: row;
      align-items: center;
      margin: 0;
      padding: 0;
    }

    @media @desktop {
      justify-content: left;
    }
  }
}

.catalog__title {
  margin: 0 0 15px;

  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: @gray--dark;
  text-transform: uppercase;

  &--to-all {
    margin: 0 0 10px;

    text-align: center;
  }

  @media @tablet {
    font-size: 20px;
  }

  &--secondary {
    @media @tablet {
      margin: 0;
    }

    @media @desktop {
      width: 50%;
    }
  }
}

.catalog__image-link {
  line-height: 0;
}

.catalog__link {
  display: flex;
  flex-direction: column;

  color: @gray--dark;
  text-decoration: none;
}

.catalog__image {
  width: 140px;
  height: 144px;

  @media @tablet {
    position: absolute;
    left: 50%;

    width: 324px;
    height: auto;

    transform: translateX(-162px);

    &--big {
      top: -80px;
    }

    &--small {
      top: -45px;
    }
  }

  @media @desktop {
    width: 245px;

    transform: translateX(-123px);
  }
}

.catalog__features-list {
  border-collapse: collapse;
  font-size: 12px;
  line-height: 16px;
  font-family: @font-secondary;
  color: @gray--light;

  @media @desktop {
    font-size: 16px;
  }

  &--secondary {
    @media @desktop {
      width: 50%;
    }
  }
}

.catalog__features-item {
  display: flex;
  justify-content: space-between;

  th {
    padding: 0;

    font-weight: normal;
  }

  td {
    padding: 0;
  }

  &--secondary {
    font-size: 14px;
    line-height: 1;

    @media @desktop {
      justify-content: left;
    }

    td {
      @media @tablet {
        margin-left: 50px;

        font-size: 16px;
      }

      @media @desktop {
        margin: 0;

        &:first-child {
          width: 70%;
        }
      }
    }
  }
}

.catalog__text {
  margin: 0 0 20px;

  font-size: 12px;
  font-family: @font-secondary;
  text-align: center;
  color: @gray--light;

  @media @desktop {
    font-size: 16px;
  }
}

.catalog__container {
  .container-responsive;

  @media @desktop {
    display: flex;
  }

  width: 100%;
}

.catalog__subcontainer {
  @media @desktop {
    flex-grow: 1;
  }
}

.catalog__button {
  &--secondary {
    @media @tablet {
      margin-top: 25px;
    }

    @media @desktop {
      width: 245px;
      margin: 0;
    }
  }
}
