.catalog {
  display: flex;
  flex-direction: column;

  border-top: 1px solid #ededed;

  .container-responsive;
  .container-adaptive;

  @media @tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    border: none;
  }

  @media @desktop {
    justify-content: space-between;
  }

  &--secondary {
    flex-direction: column;
  }
}

.catalog__item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 20px 25px 20px;

  border-bottom: 1px solid #ededed;


  @media @tablet {
    width: 324px;
    margin-top: 140px;
    margin-right: 60px;
    padding: 165px 37px 40px 38px;

    background-color: @gray--lightest;
    border: none;

    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }

  @media @desktop {
    width: 245px;
    margin-right: 80px;

    &:nth-of-type(2n) {
      margin-right: 80px;
    }

    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }

  &--to-all {
    padding: 80px 0 25px;

    background-color: @white;

    @media @tablet {
      border: 1px solid #ededed;
    }

    &::before {
      content: "";
      position: absolute;
      top: 27px;
      left: 50%;

      width: 31px;
      height: 31px;

      background-image: url("../img/icon-plus-mobile.svg");
      background-repeat: no-repeat;
      transform: translateX(-16px);
    }
  }

  &--secondary {
    width: auto;
    margin: 0;
    padding: 0;

    background-color: @white;
    border: 1px solid #ededed;
  }
}

.catalog__wrapper {
  display: flex;
  flex-direction: row;
}

.catalog__description {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 0 0;
}

.catalog__title {
  margin: 0 0 15px;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: @gray--dark;
  text-transform: uppercase;

  &--to-all {
    margin: 0 0 10px;

    text-align: center;
  }
}

.catalog__link {
  display: flex;
  flex-direction: column;

  color: @gray--dark;
  text-decoration: none;
}

.catalog__image {
  width: 140px;
  height: 144px;

  @media @tablet {
    position: absolute;
    left: 50%;

    width: 324px;
    height: auto;

    transform: translateX(-162px);

    &--big {
      top: -80px;
    }

    &--small {
      top: -45px;
    }
  }

  @media @desktop {
    width: 245px;

    transform: translateX(-123px);
  }
}

.catalog__features-list {
  margin-bottom: 20px;

  font-size: 12px;
  font-family: @font-secondary;
}

.catalog__features-item {
  display: flex;
  justify-content: space-between;


  th {
    padding: 0;

    font-weight: normal;
  }

  td {
    padding: 0;
  }
}

.catalog__text {
  margin: 0 0 20px;

  font-size: 12px;
  font-family: @font-secondary;
  text-align: center;
}
