.contacts {
  display: flex;
  flex-direction: column;





}

.contacts__text {
  display: flex;
  justify-content: space-between;
  &--main {
    background-color: @white;
  }





}



.contacts__title {
  font-weight: normal;
  font-size: 16px;
  color: @gray--dark;



}



.contacts__address {
  font-family: "Arial", sans-serif;
  color: @gray--light;


}
