.contacts {
  display: flex;
  flex-direction: column;





}

.contacts__text {
  display: flex;
  justify-content: space-between;
  &--main {
    background-color: #ffffff;
  }





}



.contacts__title {
  font-weight: normal;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111111;



}



.contacts__address {
  font-family: "Arial", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;


}
