// from 320px - Mobile
.container {
  width: auto; // 280px
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .container {
    width: auto; // 708px
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .container {
    width: 1000px;
    padding: 0 110px;
  }
}
