.copyright {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.copyright__link {
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: @gray--light;
}

.copyright__image {

}
