.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px;
}

.copyright__link {
  margin-right: 23px;

  font-size: 16px;
  font-family: "Arial", sans-serif;
  color: @gray--light;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }
}

.copyright__image {
  width: 27px;
  height: 34px;

  svg {
    fill: #666666;

    &:hover {
      fill: #68b738;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
