.copyright {
  display: flex;
  justify-content: space-between;
  height: 78px;
  align-items: center;
}

.copyright__link {
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: @gray--light;
  margin-right: 23px;

  &:active {
    opacity: 0.3;
  }

}

.copyright__image {
  width: 27px;
  height: 34px;

  svg {
    fill: #666666;

    &:hover {
      fill: #68b738;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
