.example {






}

.example__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;



}



.example__stats-item {
  dt {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: #444444;

  }
  dd {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: #111111;

  }




}


.example__cost {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;




}
