.example {
  position: relative;

  padding-top: 30px;

  background-color: @concrete;

  @media @tablet {
    padding-top: 43px;

    background-color: @white;
    border-top: 1px solid @mercury;
  }

  @media @desktop {
    padding-top: 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      z-index: 5;

      width: 50%;
      height: 462px;
    }

    &::before {
      right: 50%;

      background-color: @concrete;
    }

    &::after {
      left: 50%;

      background-color: @gallery;
    }
  }
}

.example__content {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;

  @media @tablet {
    padding-right: 30px;
    padding-left: 30px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      z-index: 10;

      width: 50%;
      height: 462px;
    }

    &::before {
      right: 50%;

      background-color: @concrete;
    }

    &::after {
      left: 50%;

      background-color: @gallery;
    }
  }

  @media @desktop {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    padding-right: 40px;
    padding-left: 40px;

    &::before {
      right: auto;
      left: 0;

      width: 915px;
    }

    &::after {
      right: 0;
      left: auto;

      width: 385px;
    }
  }
}

.example__description-container {
  @media @desktop {
    display: flex;
    flex-direction: column;
  }
}

.example__description {
  position: relative;
  z-index: 20;

  margin: 0;
  margin-bottom: 25px;

  font-size: 14px;
  line-height: 18px;
  font-family: @font-secondary;
  color: @tundora;

  @media @tablet {
    margin-bottom: 54px;

    font-size: 16px;
    line-height: 24px;
  }
}

.example__stats {
  z-index: 20;

  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;

  @media @tablet {
    margin: 0;
  }
}

.example__stats-item {
  position: relative;

  margin: 0;

  dt {
    position: absolute;
    bottom: -15px;
    left: 50%;
    z-index: 10;

    box-sizing: border-box;
    width: 87px;
    padding: 0 5px;

    font-size: 12px;
    line-height: 1;
    font-family: @font-secondary;
    text-align: center;
    color: @tundora;
    text-transform: lowercase;

    background-color: @concrete;

    @media @mobile-only {
      transform: translateX(-87/2px);
    }

    @media @tablet {
      bottom: -7px;
      left: 81px;

      width: 142px;
      padding: 0 5px;

      font-size: 14px;

      background-color: @white;
      transform: translateX(-142/2px);
    }

    @media @desktop {
      background-color: @concrete;
    }
  }

  dd {
    box-sizing: border-box;
    width: 124px;
    height: 56px;
    margin: 0;
    padding-top: 12px;

    font-size: 24px;
    line-height: 1;
    text-align: center;
    color: @cod-gray;
    text-transform: uppercase;

    border: 1px solid @silver;
    border-radius: 3px;

    @media @tablet {
      width: 162px;
      height: 72px;
      margin-right: 40px;

      font-size: 30px;
    }
  }
}

.example__picture-container {
  position: relative;

  width: 311px;
  height: 232px;
  margin: 0 auto;

  @media @tablet {
    width: 690px;
    height: 517px;
  }
}

.example__picture {
  position: absolute;
  top: 0;

  width: 50%;
  height: 100%;
  overflow: hidden;

  &--before {
    left: 0;
    z-index: 20;

    @media @mobile-only {
      width: 100%;
    }
  }

  &--after {
    right: 0;
    z-index: 30;

    @media @mobile-only {
      width: 0;
    }
  }
}

.example__image {
  width: 311px;
  height: 232px;

  &--after {
    position: absolute;
    top: 0;
    right: 0;
  }

  @media @tablet {
    width: 690px;
    height: 517px;
  }
}

.example__title {
  display: block;
  margin: 0 0 35px;

  font-weight: normal;
  font-size: 36px;
  line-height: 1;
  color: @cod-gray;


  @media @tablet {
    margin: 0 0 65px;

    font-size: 60px;
  }

  @media @desktop {
    margin: 45px 0 140px;
  }
}

.example__text {
  z-index: 20;

  margin: 0 0 40px;

  font-size: 14px;
  text-align: center;
  color: @cod-gray;
  text-transform: uppercase;

  @media @tablet {
    width: 175px;
    margin: 0;
    margin-left: auto;

    font-size: 20px;
    text-align: right;
  }

  @media @desktop {
    width: auto;
    margin: 0;

    text-align: center;
    line-height: 135px;

  }
}

.example__controls {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 88px;
  margin: 0 auto;

  font-size: 16px;
  text-transform: uppercase;

  @media @tablet {
    width: 570px;
    height: 114px;

    font-size: 20px;

    background-color: transparent;
  }

  @media @desktop {
    height: 135px;
  }
}

.example__control-container {
  position: relative;
  z-index: 20;

  box-sizing: border-box;
  width: 84px;
  height: 14px;

  background-color: @white;
  border: 1px solid @silver;
  border-radius: 6px;

  @media @mobile-only {
    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 5px;

      width: 35px;
      height: 6px;

      background-color: @apple;
      border-radius: 3px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 3px;
      right: 5px;

      width: 35px;
      height: 6px;

      background-color: @apple;
      border-radius: 3px;
    }

    &--before {
      &::after {
        display: none;
      }
    }

    &--after {
      &::before {
        display: none;
      }
    }
  }

  @media @tablet {
    width: 428px;
    height: 6px;

    background-color: @alto;
    border: none;
    border-radius: 2.5px;
  }
}

.example__control {
  @media @mobile-only {
    display: none;
  }

  @media @tablet {
    position: absolute;
    top: -14px;
    left: 50%;

    box-sizing: border-box;
    width: 34px;
    height: 34px;

    background-color: @white;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    transform: translateX(-17px);
    cursor: pointer;

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      border: solid 2px @apple;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);

      &::after {
        top: 11px;
        left: 11px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 13px;
      left: 13px;

      width: 8px;
      height: 8px;

      background-color: @apple;
      border-radius: 50%;
    }
  }
}

.example__stats-container {
  @media @tablet {
    display: flex;
    justify-content: space-between;
    margin-bottom: 86px;
  }

  @media @desktop {
    flex-direction: column;
    margin-bottom: 0;
    margin-top: auto;
  }
}

.example__control-text {
  color: @cod-gray;
  text-decoration: none;
  position: absolute;
  z-index: 20;

  &--before {
    left: 0;
  }

  &--after {
    right: 0;
  }

  @media @tablet {
    border-bottom: 1px dotted @silver;

    &:hover {
      border-bottom: 1px solid @dusty-gray;
    }

    &:active {
      border: none;
    }
  }
}
