.features {






}




.features__list {
  list-style: none;
  margin: 0;
  padding: 0;





}

.features__item {

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  position: relative;

  &--nutrients::before {
    top: 0;
    left: 0;
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-color: @leaf;
    background-image: url("../../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;

  }
  &--powder::before {
    top: 0;
    left: 0;
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-color: @leaf;
    background-image: url("../../img/advantage-powder@1x.png");
    background-repeat: no-repeat;

  }
  &--food::before {
    top: 0;
    left: 0;
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-color: @leaf;
    background-image: url("../../img/advantage-dining@1x.png");
    background-repeat: no-repeat;

  }
  &--time::before {
    top: 0;
    left: 0;
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-color: @leaf;
    background-image: url("../../img/advantage-clock@1x.png");
    background-repeat: no-repeat;

  }




}



