.footer {
  display: flex;
  flex-direction: column;

  background-color: @gray--lightest;

  &--index {
    background-color: @white;
  }
}

.footer__logo {
  align-self: center;
  margin-top: 39px;
  margin-bottom: 31px;
  padding: 0;

  font-size: 0;

  @media @tablet {
    margin: 0;
  }
}

.footer__logo-image {
  width: 128px;
  height: 24px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;

  background-color: @gray--lightest;

  .container-responsive;

  @media @tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
  }
}
