.footer {
  display: flex;
  flex-direction: column;
  background-color: @gray--lightest;
}

.footer__logo {
  align-self: center;
  margin-top: 39px;
  margin-bottom: 31px;
  font-size: 0;
  padding: 0;





}

.footer__logo-image {
  height: 24px;
  width: 128px;
}

.footer__container {
  .container;
  display: flex;
  flex-direction: column;

  @media @tablet {
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
    align-items: center;
  }
}
