.form {
  padding-top: 28px;

  .container-responsive;


  @media @tablet {
    padding-top: 42px;
  }

  @media @desktop {
    padding-top: 60px;
  }
}

.form__main-title {
  display: block;
  margin: 0 0 36px;

  font-weight: normal;
  font-size: 36px;
  line-height: 1;
  color: @gray--dark;

  background-color: @white;

  @media @tablet {
    margin-bottom: 55px;

    font-size: 60px;
  }
}

.form__intro {
  margin: 0;
  margin-bottom: 39px;

  font-size: 14px;
  line-height: 18px;
  color: @gray--dark;
  text-transform: uppercase;

  @media @tablet {
    margin-bottom: 70px;
    padding-left: 40px;

    font-size: 20px;
    line-height: 30px;
  }

  @media @desktop {
    padding-left: 0;
  }
}

.form__group {
  position: relative;

  margin: 0;
  padding: 0;

  border: none;

  &--radio {
    box-sizing: border-box;

    border: 1px solid rgba(205, 205, 205, 0.5);

  }
}

@media @desktop {
  .form__group--cat-data {
    .form__list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    .form__option {
      margin: 0;
    }
  }

  .form__group--contacts {
    .form__list {
      display: flex;
      justify-content: space-between;
    }

    .form__option {
      width: 570px;
    }
  }

  .form__container {
    display: flex;
    justify-content: space-between;

    .form__group {
      width: 570px;
    }
  }
}

.form__title {
  font-size: 24px;
  color: @gray--dark;
  position: relative;

  @media @tablet {
    font-size: 36px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100vw;
    background-color: @color-main;
    height: 5px;
    top: 0;
    left: 0;
  }
}

.form__list {
  margin: 0;
  padding: 0;

  list-style: none;

  &--secondary {
    @media @tablet {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.form__option {
  position: relative;

  display: flex;
  box-sizing: border-box;
  height: 45px;
  margin-bottom: 14px;

  &--radio {
    padding-left: 50px;

    @media @tablet {
      padding-left: 88px;
    }
  }

  &--checkbox {
    padding-left: 50px;

    @media @tablet {
      width: 50%;
    }

    @media @desktop {
      width: 305px;
    }
  }

  label {
    display: flex;
    align-items: center;
    padding-right: 15px;

    font-size: 16px;
    color: @gray;
    text-transform: uppercase;

    @media @tablet {
      font-size: 20px;
    }
  }

  @media @tablet {
    height: 52px;
  }
}

.form__checkbox + label::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;

  box-sizing: border-box;
  width: 30px;
  height: 30px;

  border: 1px solid @gray--lighten;

  @media @tablet {
    top: 6px;
    left: 0;

    width: 40px;
    height: 40px;
  }
}

.form__checkbox:hover + label::before {
  border: 1px solid #bababa;
}

.form__checkbox:active + label::before {
  border: 1px solid #bababa;
  opacity: 0.3;
}

.form__checkbox:active + label {
  opacity: 0.3;
}

.form__checkbox + label::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;

  box-sizing: border-box;
  width: 12px;
  height: 18px;

  border-right: 2px solid @color-main;
  border-bottom: 2px solid @color-main;
  transform: rotate(45deg);
  opacity: 0;

  transition-duration: 300ms;

  @media @tablet {
    top: 13.5px;
    left: 15px;
  }
}

.form__checkbox:checked + label::after {
  opacity: 1;
}

.form__radio + label::before {
  content: "";
  position: absolute;
  top: 7.5px;
  left: 0;

  box-sizing: border-box;
  width: 30px;
  height: 30px;

  border: 1px solid @gray--lighten;
  border-radius: 50%;

  @media @tablet {
    top: 6px;
    left: 27px;

    width: 40px;
    height: 40px;
  }
}

.form__radio:hover + label::before {
  border-color: #bababa;
}

.form__radio:active + label::before {
  opacity: 0.3;
}

.form__radio:active + label {
  opacity: 0.3;
}

//.form__radio:active + label::after {
//  opacity: 0.3;
//}

.form__radio + label::after {
  content: "";
  position: absolute;
  top: 16.5px;
  left: 9px;

  width: 12px;
  height: 12px;

  background-color: @color-main;
  border-radius: 50%;
  opacity: 0;

  transition-duration: 300ms;


  @media @tablet {
    top: 17px;
    left: 38px;

    width: 18px;
    height: 18px;
  }
}

.form__radio:checked + label::after {
  opacity: 1;
}

.form__text {
  flex-grow: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-left: 15px;

  font-size: 16px;
  font-family: inherit;
  color: @gray--light;
  text-transform: uppercase;

  border: 1px solid rgba(205, 205, 205, 0.5);

  @media @tablet {
    font-size: 20px;
  }

  &:invalid:not(:placeholder-shown) {
    padding-left: 14px;

    border: 2px solid #ff8282;

    + svg {
      fill: #ff8282;
    }
  }

  &:hover {
    border-color: @gray--lighten;
  }

  &:focus {
    padding-left: 14px;

    border: 2px solid @gray--light;
    outline: none;

    + svg {
      fill: @color-main;
    }
  }
}

::placeholder {
  font-size: 16px;
  color: @gray--light;
  text-transform: uppercase;

  opacity: 0.5;

  @media @tablet {
    font-size: 20px;
  }
}

.form__legend {
  font-size: 14px;
  line-height: 1;
  font-family: @font-secondary;
  color: @gray--light;

  @media @tablet {
    font-size: 16px;
  }
}

.form__button {
  width: 100%;

  @media @tablet {
    display: inline-block;
    width: 40%;
    margin-right: 10%;
  }
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  padding: 15px;

  font-size: 16px;
  font-family: inherit;
  color: @gray--light;
  text-transform: uppercase;

  border: 1px solid rgba(205, 205, 205, 0.5);

  @media @tablet {
    height: 174px;

    font-size: 20px;
  }

  &:hover {
    border-color: @gray--lighten;
  }

  &:focus {
    padding: 14px;

    border: 2px solid @gray--light;
    outline: none;
  }
}

.form__icon-mail {
  position: absolute;
  top: 15px;
  right: 15px;

  fill: @gray;

  @media @tablet {
    top: 20px;
    right: 20px;
  }
}

.form__icon-phone {
  position: absolute;
  top: 13px;
  right: 13px;

  fill: @gray;

  @media @tablet {
    top: 17px;
    right: 17px;
  }
}
