.form {






}

.form__intro {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #111111;


}

.form__group {
  border: none;
}

.form__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
}

.form__list {
  list-style: none;
  margin: 0;
  padding: 0;

}




.form__option {
   font-family: "Oswald", sans-serif;
   font-size: 16px;
   line-height: 18px;
   color: #222222;

 }





::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
    color: #444444;
    text-transform: uppercase;
  }

::-moz-placeholder {
    /* Firefox 19+ */
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
    color: #444444;
    text-transform: uppercase;
  }

:-ms-input-placeholder {
    /* IE 10+ */
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
    color: #444444;
    text-transform: uppercase;
  }

:-moz-placeholder {
    /* Firefox 18- */
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
    color: #444444;
    text-transform: uppercase;
  }

.form__legend {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}
