.header {
  position: relative;

  display: flex;
  flex-direction: column;
  padding-top: 11px;
  margin-bottom: 30px;

  .container-responsive;

  @media @tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 24px;
  }

  @media @desktop {
    padding-top: 53px;

    &--index {
      margin-bottom: 648px;
    }
  }
}

.header__logo {
  width: 191px;
  height: 39px;
  margin-bottom: 15px;

  font-size: 0;

  @media @tablet {
    width: 174px;
    height: 59px;
  }

  @media @desktop {
    width: 203px;
    height: 60px;
  }


  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__logo-image {
  width: 191px;
  height: 39px;

  @media @tablet {
    width: 174px;
    height: 59px;
  }

  @media @desktop {
    width: 203px;
    height: 60px;
  }
}
