.header {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .header {
    flex-direction: row;
  }
}

.header__logo {
  height: 39px;
  width: 191px;
  margin: 11px 0 15px 20px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    .header__logo {
      height: 59px;
      width: 174px;
    }
  }

  @media (min-width: @desktop-width) {
    .header__logo {
      height: 60px;
      width: 203px;
    }
  }
}

.header__logo-image {
  height: 39px;
  width: 191px;

  @media (min-width: @tablet-width) {
    .header__logo-image {
      height: 59px;
      width: 174px;
    }
  }

    @media (min-width: @desktop-width) {
      .header__logo-image {
        height: 60px;
        width: 203px;
      }
    }
}

.header__wrapper {
  box-sizing: border-box;
  height: 305px;
  padding: 28px 20px 0px;
  margin-bottom: 135px;
  position: relative;

  background-color: @color-main;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 320px 305px;

  &::after {
    content: "";
    position: absolute;
    width: 280px;
    height: 270px;
    top: 168px;
    left: 50%;
    transform: translateX(-140px);
    background-image: url("../img/index-can-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 280px 270px;
  }
}

.header__button {
  margin: 0 20px 22px;
}
