.main-nav {
}

.main-nav__toggle {
  width: 25px;
  height: 19px;
  background-color: transparent;
  border: none;
  padding: 0;
  position: absolute;
  top: 23px;
  right: 19px;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    width: 25px;
    height: 3px;
    position: absolute;
    background-color: @gray;
    right: 0;
  }

  &::before {
    top: 0;
    box-shadow: 0 8px 0 0;
  }

  &::after {
    bottom: 0;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border-top: 1px solid @gray--lightest;
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    flex-direction: row;

  }
}

.main-nav__item {
  font-weight: 500;
  color: @gray--dark;

  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid @gray--lightest;
  font-size: 20px;

  a {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    padding: 18px 20px;
    box-sizing: border-box;
  }

  @medium (min-width: @tablet-width) {
  .main-nav__item {
    font-weight: 400;
    font-size: 18px;
  }
}

@medium (min-width: @desktop-width) {
  .main-nav__item {
    font-size: 20px;
  }
}

  &--active {

  }

}
