.main-nav {
  color: @gray--dark;

  @media @mobile {
    margin-right: -20px;
    margin-left: -20px;
  }
}

.main-nav--index {
  @media @desktop {
    color: @white;

    .main-nav__item {
      &--active {
        border-bottom: 2px solid @white;
      }
    }
  }
}

.main-nav__toggle {
  position: absolute;
  top: 23px;

  height: 19px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;


  @media @tablet {
    display: none;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;

  @media @tablet {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 19px;

    border: none;
  }

  @media @desktop {
    padding-top: 16px;
  }
}

.main-nav__item {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;

  border-bottom: 1px solid @gray--lightest;

  &:first-of-type {
    border-top: 1px solid @gray--lightest;
  }

  @media @tablet {
    margin-left: 40px;

    font-weight: 400;
    font-size: 18px;

    border: none;

    &--active {
      border-bottom: 2px solid #68b738;
    }
  }

  @media @desktop {
    font-size: 20px;
  }

  a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 20px;

    color: inherit;
    text-decoration: none;


    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    @media @tablet {
      padding: 0;
    }
  }
}

@media @mobile {
  .main-nav--closed {
    .main-nav__item {
      display: none;
    }

    .main-nav__toggle {
      right: 19px;

      width: 25px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        right: 0;

        width: 25px;
        height: 3px;

        background-color: @gray;
      }

      &::before {
        top: 0;

        box-shadow: 0 8px 0 0;
      }

      &::after {
        bottom: 0;
      }
    }
  }

  .main-nav--opened {
    .main-nav__toggle {
      right: 22px;

      width: 19px;

      background-image: url("../img/icon-close.svg");
    }
  }

  .main-nav--nojs {
    .main-nav__toggle {
      display: none;
    }

    .main-nav__item {
      display: block;
    }
  }
}
