.programs {
  display: flex;
  flex-direction: column;

  .container-responsive;

  @media @desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.programs__item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 35px 20px 20px;

  background-color: @gray--lightest;

  @media @tablet {
    min-height: 372px;
    margin-bottom: 30px;
    padding-top: 81px;
    padding-bottom: 60px;
    padding-left: 50px;

    &--slim {
      padding-right: 285px;
    }

    &--pro {
      padding-right: 315px;
    }
  }

  @media @desktop {
    width: 570px;
    padding-right: 50px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 22px;

    width: 50px;
    height: 50px;

    background-color: @color-main;
    border-radius: 50%;

    @media @tablet {
      top: 90px;
      right: 60px;
      left: auto;

      width: 200px;
      height: 200px;
    }

    @media @desktop {
      top: 47px;
      right: auto;
      left: 52px;

      width: 100px;
      height: 100px;
    }
  }

  &::after {
    content: "";
    position: absolute;

    background-repeat: no-repeat;
  }

  &--slim::after {
    top: 22px;
    left: 30px;

    width: 35px;
    height: 49px;

    background-image: url("../img/icon-cat-slim.svg");

    @media @tablet {
      top: 80px;
      right: 92px;
      left: auto;

      width: 141px;
      height: 194px;
    }

    @media @desktop {
      top: 41px;
      right: auto;
      left: 65px;

      width: 71px;
      height: 97px;
    }
  }

  &--pro::after {
    top: 35px;
    left: 13px;

    width: 67px;
    height: 28px;

    background-image: url("../img/icon-cat-pro.svg");

    @media @tablet {
      top: 135px;
      right: 28px;
      left: auto;

      width: 268px;
      height: 113px;
    }

    @media @desktop {
      top: 69px;
      right: auto;
      left: 34px;

      width: 134px;
      height: 57px;
    }
  }
}

.programs__title {
  margin: 0 0 35px 70px;

  font-weight: normal;
  font-size: 24px;
  line-height: 1;
  color: @gray--dark;
  text-transform: uppercase;

  @media @tablet {
    margin: 0 0 25px;

    font-size: 36px;
  }
}

.programs__description {
  margin: 0 0 20px;
  padding: 0 0 20px;

  font-size: 14px;
  line-height: 18px;
  font-family: @font-secondary;
  color: @gray--light;

  border-bottom: 1px solid @gray--lighten;

  @media @tablet {
    font-size: 16px;
    line-height: 24px;

    border: none;
  }
}

.programs__catalog-link {
  position: relative;

  font-size: 16px;
  line-height: 1;
  color: @gray--dark;
  text-transform: uppercase;
  text-decoration: none;

  @media @tablet {
    margin-top: auto;

    font-size: 20px;

    border: none;
  }

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 100px;

    width: 25px;
    height: 12px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;

    @media @tablet {
      left: 125px;
    }
  }
}
