.programs {
  display: flex;
  flex-direction: column;


}

.programs__item {


}


.programs__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  color: #111111;
  font-weight: normal;

}


.programs__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;


}

.programs__catalog-link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;

}
