.social {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid @gray--lighten;
  border-bottom: 1px solid @gray--lighten;
  height: 62px;
}

.social__link {

  font-size: 0;

  &--vkontakte {
    width: 22px;
    height: 12px;

  }
  &--instagram {
    width: 17px;
    height: 17px;
    margin-right: 40px;
    margin-left: 40px;

  }
  &--facebook {
    width: 10px;
    height: 19px;

  }
}
