.title {
  display: block;

  font-weight: normal;
  font-size: 36px;
  line-height: 1;
  color: @gray--dark;

  background-color: @white;

  .container-adaptive;

  @media @mobile {
    width: auto;
    margin: 0 0 35px;
  }

  @media @tablet {
    font-size: 60px;
  }
}

.title--secondary {
  position: relative;

  padding: 0;

  font-size: 24px;



  @media @tablet {
    padding-left: 38px;

    font-size: 36px;
  }
}
