.title {
  font-weight: normal;
  font-size: 36px;
  line-height: 1;
  color: @gray--dark;

  @media @tablet {
    font-size: 60px;
  }

  &--secondary {
    font-size: 24px;

    @media @tablet {
      font-size: 36px;
    }
  }
}
