.title {
  font-weight: normal;
  display: block;
  background-color: @white;
  font-size: 36px;
  line-height: 1;
  color: @gray--dark;
  .container-adaptive;

  @media @mobile {
    width: auto;
    margin: 0 0 35px;
  }

  @media @tablet {
    font-size: 60px;
  }
}

.title--secondary {
  font-size: 24px;
  padding: 0;
  position: relative;



  @media @tablet {
    font-size: 36px;
    padding-left: 38px;



  }
}
