# Корневой файл EditorConfig
root = true

# Для всех файлов
[*]

# Кодировка
charset = utf-8

# unix-совместимые переносы строк
end_of_line = lf
insert_final_newline = true

# Отступы в 2 пробела
indent_style = space
indent_size = 2


trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
