.container-responsive {
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;

  @media @tablet {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media @desktop {
    width: 1300px;
    margin: 0 auto;
    padding-right: 40px;
    padding-left: 40px;
  }
}

.index {
  @media @desktop {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;

      width: 50%;
      height: 696px;

      background-color: #63a837;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: left top;
      background-size: 720px 696px;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }
}
