// from 320px - Mobile
.container {
  width: auto; // 280px
  padding-left: 20px;
  padding-right: 20px;

  @media @tablet {
    width: 708px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media @desktop {
    width: 1220px;
    margin: 0 auto;
    padding-left: 110px;
    padding-right: 110px;
  }
}
