@white: #ffffff;

@gray--lightest: #f2f2f2;
@gray--lighten: #cdcdcd;
@gray--light: #444444;
@gray: #222222;
@gray--dark: #111111;


@color-main: #68b738;

@btn-main-bg: @color-main;

@tablet-width: 768px;
@desktop-width: 1060px; // 1220px
