@white: #ffffff;
@concrete: #f2f2f2;
@silver: #cdcdcd;
@tundora: #444444;
@mine-shaft: #222222;
@cod-gray: #111111;
@apple: #68b738;
@gallery: #ebebeb;
@dove-gray: #666666;
@alto: #dcdcdc;
@dusty-gray: #999999;
@mercury: #e7e7e7;
@vivid-tangerine: #ff8282;

@mobile-only: ~"only screen and (max-width: 767px)";
@tablet-only: ~"only screen and (mix-width: 768px) and (max-width: 1299px)";
@tablet: ~"only screen and (min-width: 768px)";
@desktop: ~"only screen and (min-width: 1300px)";

@font-main: "Oswald", "Arial", sans-serif;
@font-secondary: "Arial", sans-serif;

@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
